.register{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.register-image{
    width: 50%;
    height: 100vh;
    background-image: url(../../assets/RegisterBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #fff;
}
.register-image h1{
    width: 90%;

}
.register-box{
    width: 50%;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.register-box button{
    width: 63%;
    margin:  0px auto;
    padding: 12px;
    border-radius: 28px;
    background-color: #72DB73;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}
.register-heading{
    color: #fff;
    text-align: center;
    width: 70%;
    margin:0px auto;
    padding-bottom: 30px;
}
.register-heading h1{
    color: #72DB73;
    font-family: 'Agbalumo', system-ui;
    font-family: 'Single Day', cursive;
    font-weight: 100;
    padding-bottom: 10px;
}
.registration-details{
    width: 70%;
    height: auto;
}
.registration-details input{
    display: block;
    width: 90%;
    margin: 14px auto;
    padding: 12px 5px;
    background-color: #292929;
    color: #7C7C7C;
    border: none;
    border-radius: 3px;
}

.checkbox-btn{
    width: 65%;
    height: 0px auto;
    padding: 15px 0px 30px 0px;
    font-size: 0.7rem;
    
}
.checkbox-btn p{
    color: #7C7C7C;
    display: inline;
}
.terms-conditions{
    width: 65%;
    color: #7C7C7C;
}
.terms-conditions p{
    padding-top: 10px;
    font-size: 0.7rem;
}
.terms-conditions strong{
    color: #72DB73;
}
@media only screen and (max-width: 768px) {
    .register{
        flex-direction: column-reverse;
    }
    .register-image{
        width: 100%;
        height: 50vh;
    }
    .register-box{
        width: 100%;
        height: auto;
    }
    .register-heading{
        width: 90%;
        margin: 0px auto;
        padding: 20px 0px 30px 0px;
    }
    .registration-details{
        width: 90%;
        margin: 0px auto;
    }
    .checkbox-btn{
        width: 86%;
        margin: 0px auto;
    }
    .register-box button{
        width: 86%;
        margin-bottom: 30px
    }
    .terms-conditions{
        width: 86%;
        margin: 0px auto;
        padding-bottom: 20px;
    }
    
}